[submodule "pack/g-s-k/start/vim-surround"]
	path = .vim/pack/g-s-k/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/g-s-k/start/vim-repeat"]
	path = .vim/pack/g-s-k/start/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "pack/g-s-k/start/vim-sensible"]
	path = .vim/pack/g-s-k/start/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule "pack/g-s-k/start/vim-fugitive"]
	path = .vim/pack/g-s-k/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "pack/g-s-k/start/vim-commentary"]
	path = .vim/pack/g-s-k/start/vim-commentary
	url = git@github.com:tpope/vim-commentary
[submodule "pack/g-s-k/start/vim-jdaddy"]
	path = .vim/pack/g-s-k/start/vim-jdaddy
	url = git@github.com:tpope/vim-jdaddy
[submodule "pack/g-s-k/start/vim-unimpaired"]
	path = .vim/pack/g-s-k/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "pack/g-s-k/start/ale"]
	path = .vim/pack/g-s-k/start/ale
	url = git@github.com:dense-analysis/ale
[submodule "pack/g-s-k/start/vim-airline"]
	path = .vim/pack/g-s-k/start/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "pack/g-s-k/start/auto-pairs"]
	path = .vim/pack/g-s-k/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs
[submodule "pack/g-s-k/start/vim-toml"]
	path = .vim/pack/g-s-k/start/vim-toml
	url = git@github.com:cespare/vim-toml
[submodule "pack/g-s-k/start/vim-closetag"]
	path = .vim/pack/g-s-k/start/vim-closetag
	url = git@github.com:alvan/vim-closetag
[submodule "pack/g-s-k/start/vim-jsx-pretty"]
	path = .vim/pack/g-s-k/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty
[submodule "pack/g-s-k/start/vim-signify"]
	path = .vim/pack/g-s-k/start/vim-signify
	url = git@github.com:mhinz/vim-signify
[submodule "pack/g-s-k/start/vim-javascript"]
	path = .vim/pack/g-s-k/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "pack/g-s-k/start/vim-airline-themes"]
	path = .vim/pack/g-s-k/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes
[submodule "pack/g-s-k/start/vim-mustache-handlebars"]
	path = .vim/pack/g-s-k/start/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars
