# repository itself
.cfg/

# xdg cache and site data
.cache/
.local/

# homebrew packages
Brewfile.lock.json

# fish
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/
.config/fish/fish_variables
.config/fisher/

# git
.config/git/pii

# [n]vim
.viminfo
.config/nvim/autoload/plug.vim
.config/vim/autoload/plug.vim

# rust
.cargo/
.rustup/

# nix
.nix-channels
.nix-defexpr/
.nix-profile

# various configs
.bash_profile
.bash_site
.config/alacritty/
.config/containers/
.config/htop/htoprc
.config/iterm2/
.config/spek/
.fzf.bash
.fzf.zsh
.profile
.zprofile
.zshenv
.zshrc

# other non-configuration things
.CFUserTextEncoding
.bash_history
.bash_sessions/
.cups/
.gnupg/
.julia/
.lesshst
.ssh/
.swiftpm/
.terminfo/
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

# junk files
.DS_Store
.Trash/
